*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.idea
*.iml
.DS_Store
.dotfiles.git
.tool-versions
.artifactory_credentials
.docker-sync
node_modules
.generators
.rakeTasks

